


.modal-body{
    .model-form{
        .input-label{
            width: 100px !important;
        }
        .input{
            width:90% !important;
        }

        .error-text{
            margin-left: 90px;
        }

        .pinsinput{
            width: 350px !important;
        }

        .pins-error-text{
            margin-left: 115px;
        }
    }
}