

.pins-table{
    height: 100vh;
    width: 100%;
    margin: 0 auto; 
    padding: 50px 0px;
}
.image-size{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.modal-body{
    .model-form{
        .input-label{
            width: 100px !important;
        }
        .input{
            width:500px !important;
        }

        .error-text{
            margin-left: 80px;
        }

        .pinsinput{
            width: 350px !important;
        }

        .pins-error-text{
            margin-left: 115px;
        }
    }
}