@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.required{
   font-size: 15px;
   color: red;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 999;
}
